* {
  box-sizing: border-box;
}
body {
  background-color: rgb(48, 50, 49);
  color: rgb(241, 244, 247);
  font-family: "Montserrat", sans-serif;
}

.book-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.book-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 10px 12px;
  border: 1px solid rgb(241, 244, 247);
  border-radius: 4px;
}

.book-card > button {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
}

.book-card > h3 {
  grid-area: 1 / 1 / 2 / 2;
}

.book-card > h4 {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 14px;
  font-weight: 400;
}

.book-card > span {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  gap: 2px;
  align-items: center;
}

.book-card > .dropdown {
  grid-area: 3 / 2 / 4 / 3;
}

.button {
  border: 2px solid transparent;
  padding: 8px 16px;
  min-width: 48px;
  background-color: rgb(241, 244, 247);
  color: rgb(48, 50, 49);
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.icon-button {
  all: unset;
  width: 22px;
  height: 22px;
  background-color: rgb(241, 244, 247);
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 4px;
  transition: 0.2s;
  cursor: pointer;
}
.icon-button > * {
  pointer-events: none;
}

.icon {
  width: 22px;
}

.button:hover,
.icon-button:hover {
  border-color: rgb(39, 161, 217);
}

.button-abs {
  position: absolute;
  right: 40px;
  top: 20px;
}

.form-wrapper {
  background-color: rgb(48, 50, 49, 0.9);
  border: none;
  outline: none;
  width: 100vw;
  height: 100vh;
}

.book-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  width: 80%;
  max-width: 600px;
  border: 1px solid rgb(241, 244, 247);
  border-radius: 12px;
  background-color: rgb(48, 50, 49);
  color: rgb(241, 244, 247);
  transition: 0.2s;
}

.form-header {
  margin: 0;
  margin-bottom: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 16px;
}

.input,
.dropdown {
  height: 40px;
  outline: none;
  padding: 6px 4px;
  background-color: transparent;
  border: 1px solid rgb(112, 112, 112);
  font-size: 16px;
  color: rgb(241, 244, 247);
  border-radius: 4px;
}

.input:focus,
.dropdown:focus {
  border-color: rgb(241, 244, 247);
}
